* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 6fr;
    line-height: 1.5;
}

#sidebar {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    gap: 1rem;
    justify-items: center;
}

#sidebar h1 {
    color: darkviolet;
    margin-top: 0.2rem;
}

#project-container {
    background-color: #333;
    width: 100%;
    overflow: auto;
}

#new-project-button {
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    border: 1px solid darkviolet;
    background-color: black;
    color: darkviolet;
    width: 4rem;
    height: 4rem;
    justify-self: center;
}